@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,600&family=Poppins&family=Roboto&display=swap");
:root {
  --cisgreen-50: #f5f8f5;
  --cisgreen-100: #e0e7e2;
  --cisgreen-200: #c0cfc3;
  --cisgreen-300: #99af9f;
  --cisgreen-400: #62a524;
  --cisgreen-500: #487a1a;
  --cisgreen-600: #3a6413;
  --cisgreen-700: #325512;
  --cisgreen-800: #313e35;
  --ciserror: lightcoral;
}

.pageCar {
  max-width: 1600px !important;
  padding-top: 5rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.section-principal {
  position: relative;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 2.5rem;
}

.filter-list-alt {
  display: none;
}

/****/

@media (width < 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .filter-list {
    display: none;
  }
  .filter-list-alt {
    display: block;
  }
}

/* navegacion*/

.navegacion {
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* border: 1px solid blue; */
}
.barra-busqueda {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.btn-search {
  display: flex;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: var(--cisgreen-400);
  padding: 5px 10px;
  height: 40px;
  width: 45px;
  justify-content: center;
  padding-top: 8px;
}

.barra-busqueda .btn-search:active {
  background-color: var(--cisgreen-700);
  color: white;
}

.cart-btn {
  background-color: var(--cisgreen-400);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  position: fixed;
  z-index: 99;
  transition: 0.3s ease;
}
.cart-btn:hover {
  transform: scale(1.1);
  background-color: var(--cisgreen-600);
  color: white;
  cursor: pointer !important;
}
.cart-btn-alt {
  display: none;
}

.cart-btn-alt {
  position: fixed;
  background-color: var(--cisgreen-400);
  color: white;
  border: none !important;
  border-radius: 18px;
  padding: 5px;
  right: 1rem;
  z-index: 10;
  transition: 0.4s ease;
}

.cart-btn-alt:active{
  transform: scale(1.1);
  background-color: var(--cisgreen-600);
  color: white;
}

@media (width < 768px) {
  .cart-btn {
    display: none;
  }
  .cart-btn-alt {
    display: block;
  }
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 20px 45px;
}
/* Producto */
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
  min-width: 100px;
  width: 240px;
  min-height: 200px;
}
.wsk-cp-product:hover{
  cursor: pointer;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.4s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-30px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:100%;
}
.title-product{
  text-align: center;
}
.title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:50px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;  
}
.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}

.buy-btn:hover , buy-btn:active, buy-btn:focus{
  border: none ;
  background: var(--cisgreen-400);
  color: #fff;
  text-decoration:none;
}

/**termina el estilo de todo el catalogo**/

.ul-filter {
  padding: 0;
  margin: 0;
  width: auto;
}

.lgi {
  text-decoration: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px 6px;
  list-style: none;
}

.lgi.active {
  background-color: var(--cisgreen-400);
  color: white;
}

.lgi:hover {
  cursor: pointer;
  background-color: var(--cisgreen-400);
  color: white;
}

/****/

/***************CATALOGO EDICION *******************/

.card-footer .toggleBtn {
  font-size: 3rem;
}

.eyeColorEdit {
  color: #26a200;
}
/*Notificar al usuario  de que agrego un producto nuevo*/
.toaster {
  position: fixed;
  background: #ffffff;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  bottom: 20px;
  left: 1.5rem;
  box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, 0.565);
}
.toastBtn {
  width: 100%;
  background: var(--cisgreen-400);
  border: none;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1em;
}
.toastBtn:hover {
  background: var(--cisgreen-700);
  border: none;
  color: #fff;
}
.toast-head {
  display: flex;
  justify-content: space-between;
}
.toaster.activo {
  display: block;
}

.toaster-c {
  display: none; /* ocultar por defecto */
  position: fixed;
  z-index: 10;
  background: var(--cisgreen-400);
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 300px;
  line-height: 150%;
  border-radius: 10px;
  top: 100px; /* Espacio desde el top para visibilidad */
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.toast-head-c {
  display: flex;
  justify-content: space-between;
}
.toaster-c.activo {
  display: block;
  animation: show-toaster 0.4s ease-in-out;
}
